<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="navbar-brand">TODO APP</div>
    <ul class="navbar-nav">
      <li *ngIf="authenticationService.isUserLoggedIn()" class="nav-link"><a routerLink="/welcome/sa">Home</a></li>
      <li *ngIf="authenticationService.isUserLoggedIn()" class="nav-link"><a routerLink="/todos">Todos</a></li>
    </ul>

    <ul class="navbar-nav navbar-collapse justify-content-end">
      <li *ngIf="!authenticationService.isUserLoggedIn()" class="nav-link"><a routerLink="/login">Login</a></li>
      <li *ngIf="authenticationService.isUserLoggedIn()" class="nav-link"><a routerLink="/logout">Logout</a></li>
    </ul>
  </nav>
</header>
